<style type="text/css">
	*{
		padding:0;
		margin:0;
	}

	body{
		background:#ddd;
		font-size:100%;
	}

	div#wrapper{
		min-height: 570px;
		min-width: 470px;
		max-width: 940px;
		margin:0 auto;
		background-color:white;
		text-align:center;
		box-sizing: border;
		word-wrap: break-word;
	}

	header{
		height:25%;
		background-color:orange;
	}

	img{
		width: 100%;
		height: auto;
	}

	nav{
		width: 100%;
		min-height:50px;
		height:10%;
		line-height:50px;
		background-color:blue;
	}

	nav li{
		float:left;
		list-style-type:none;
		width:12%; 
		text-align:center;
	}

	nav a{
		color: white;
		text-decoration:none;
		display:block;
	}

	nav a:hover{
		background:#000;
	}

	div#banner{
		height:150px;
		background-color:red;
	}

	main{
		
		background-color:#666;
		max-height: 70%;
		width:70%;
		max-width: 658px; 
		float:left;	
	}

	p{
		margin: 5px;
		padding: 5px;
		overflow: hidden;
	}
	aside{
		max-height: 70%
		background-color:yellow;
		width:30%;
		max-width: 282px;
		float:right;
	}

	footer{
		height:50px;
		background-color:black;
		clear:both;
	}
	h1{
		text-align:center;
	}